<h2>Log In</h2>
<p class=login_content>To add content to the forum, you must login using your school gmail account.</p>
 <div class="signin"><span class="test"><%= link_to "Sign in with Google", "/auth/google_oauth2" %></span></div>
<div class="cancel"><span class="test"><%= link_to 'Cancel', posts_path %></span></div>