@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline
}
body {
line-height: 1;
color: black;
background: white
}
table {
border-collapse: separate;
border-spacing: 0;
vertical-align: middle
}
caption,th,td {
text-align: left;
font-weight: normal;
vertical-align: middle
}
.fancy-button-reset-base-class,input[type=submit] {
font-family: "Lucida Grande",Lucida,Arial,sans-serif;
background: url('/images/button_bg.png?1301401396') repeat-x bottom left;
margin: 0;
width: auto;
overflow: visible;
display: inline-block;
cursor: pointer;
text-decoration: none;
border-style: solid;
font-weight: bold
}
.fancy-button-reset-base-class::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
border: none;
padding: 0
}
.fancy-button-reset-base-class:focus,input[type=submit]:focus {
outline: none
}
.headings,h1 {
font-family: "Yanone Kaffeesatz", sans
}
html {
/*background: #d3dd8a;*/
background:#E6E6E6;
-moz-background-size: 80px 80px;
-webkit-background-size: 80px 80px;
-o-background-size: 80px 80px;
background-size: 80px 80px;
/*grading effect
background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(255,255,255,0.1)), color-stop(25%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.1)), color-stop(75%, rgba(255,255,255,0.1)), color-stop(75%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(left top, rgba(255,255,255,0.1) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.1) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0));
background-image: linear-gradient(left top, rgba(255,255,255,0.1) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.1) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0))
*/
}
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans;
background: #fff;
margin: 50px auto 30px;
color: #2d4159;
padding: 20px;
width: 85%;
min-width: 1100px;
max-width: 1150px;
min-height: 280px;
position: relative;
line-height: 1.25em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
-moz-background-clip: padding;
-webkit-background-clip: padding;
-o-background-clip: padding-box;
-ms-background-clip: padding-box;
-khtml-background-clip: padding-box;
background-clip: padding-box
}
/*shadow effect*
body:before {
content: " ";
z-index: -2;
position: absolute;
left: -4px;
right: 8px;
top: 8px;
height: 260px;
background: #2b445c;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
-webkit-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
-o-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
-moz-background-clip: padding;
-webkit-background-clip: padding;
-o-background-clip: padding-box;
-ms-background-clip: padding-box;
-khtml-background-clip: padding-box;
background-clip: padding-box;
-moz-transform: rotate(-2deg);
-webkit-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg)
}*/
body:after {
content: " ";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
bottom: 2px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
background: #000;
z-index: -1;
-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
-o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px
}
p.paginate {
	padding:5px;
}
.pagination{
	font-size: 18pt;
	margin-bottom: 10px;
}	
div#title_cont {
	font-size:14px;
}
input#search {
	width:75%;
	font-size:14px;
}
input#search, input {
	display:inline;
	float:left;
}
a.new_post {
	display:block;
	float:left;
	margin-top: 10px;
	text-decoration:none;
	color:white;
	font-size:24pt;
}
table.home {
width:100%;
border-collapse:collapse;
padding:5px;
font-size:14pt;
}
table.home td {
	padding:10px;
}
table.home th {
	padding:5px;
	padding-bottom:15px;
	font-weight:bold;
	font-size:18pt;
	color:#848484;
}
div.respondbs {
	dislplay:block;
	padding: 5px;
	float:left;
	margin-top:-10px;
}
div#posts{
	display:block;
	margin-top:30px;
	font-size:14pt;
	width:100%;
	margin-left:40px;
}
div#comments{
	padding-top: 10px;
	margin-left: 60px;
	font-size:14pt;
	width:100%;
}
.resource_links {
	display:block;
	margin-top:-30px;
	margin-left:20px;
	margin-bottom:20px;
}	
a.post_title, .resource_links a, a.logout{
	color:black;
}	
a.post_title:hover, .resource_links a:hover, a.logout:hover {
	    color: #fff;
	    background-color: #000;
}
p.flash {
-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
-o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
-moz-border-radius-bottomleft: 6px;
-webkit-border-bottom-left-radius: 6px;
-o-border-bottom-left-radius: 6px;
-ms-border-bottom-left-radius: 6px;
-khtml-border-bottom-left-radius: 6px;
border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-right-radius: 6px;
-o-border-bottom-right-radius: 6px;
-ms-border-bottom-right-radius: 6px;
-khtml-border-bottom-right-radius: 6px;
border-bottom-right-radius: 6px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0.6)));
background-image: -moz-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
border: 3px solid rgba(255, 255, 255, 0.5);
-moz-background-clip: padding;
-webkit-background-clip: padding;
-o-background-clip: padding-box;
-ms-background-clip: padding-box;
-khtml-background-clip: padding-box;
background-clip: padding-box;
text-shadow: rgba(0, 0, 0, 0.6) 0 -1px;
color: #fff;
margin: 0 auto;
position: absolute;
top: -51px;
left: 0;
padding: .4em .8em;
width: 100%;
text-align: center;
border-top: 0
}
p.flash:empty {
height: 0px;
overflow: hidden;
padding: 0;
border-width: 0;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
background: none
}
div.new_home {
-moz-border-radius-topleft: 6px;
-webkit-border-top-left-radius: 6px;
-o-border-top-left-radius: 6px;
-ms-border-top-left-radius: 6px;
-khtml-border-top-left-radius: 6px;
border-top-left-radius: 6px;
-moz-border-radius-topright: 6px;
-webkit-border-top-right-radius: 6px;
-o-border-top-right-radius: 6px;
-ms-border-top-right-radius: 6px;
-khtml-border-top-right-radius: 6px;
border-top-right-radius: 6px;
/*ncsu color */
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8A0808), color-stop(100%, #585858));
background-image: -moz-linear-gradient(#8A0808,#585858);
background-image: linear-gradient(#8A0808,#585858);
/*top color
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42678d), color-stop(100%, #223447));
background-image: -moz-linear-gradient(#42678d,#223447);
background-image: linear-gradient(#42678d,#223447);*/

-moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
-webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
-o-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
margin: -20px -20px 15px;
padding: 20px;
padding-bottom:40px;
padding-right: 50px;
line-height: 1em;
font-weight: normal;
color: #fff;
position: relative;
text-shadow: #192836 0 -2px;
font-size: 2.5em
}
div.new_home:after {
content: " ";
position: absolute;
left: 0;
right: 0;
height: 15px;
bottom: -16px;
border-top: 1px solid #e5e5e5;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170,170,170,0.5)), color-stop(100%, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(rgba(170,170,170,0.5),rgba(255,255,255,0));
background-image: linear-gradient(rgba(170,170,170,0.5),rgba(255,255,255,0));
z-index: 1
}
.logout{
	margin-left: 30px;
}
div.auth{
	font-size:.5em;
	float:right;
}
div.auth a {
	display:inline;
	font-size:1em;
	color:white;
	float:right;
	text-decoration: none;
	diplay:inline;
}
h2,h3,h4 {
color: #2d4159;
font-size: 1.3em;
line-height: 1.5em;
margin: .2em 0 .5em
}
.comment {
font-size: .9em;
border-top: 1px solid #ddd;
background: #f5f5f5;
padding: 1em 0;
border-bottom: 1px dashed #ddd;
color: #6c7c9a
}
.comment p {
padding-left: 12px;
padding-top:5px;
border-left: 5px solid rgba(45, 65, 89, 0.5)
}

.user_nav {
	display:inline;
	float:right;
}
.field label{
	padding-top:10px;
}

select {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.2em;
}	

h1,h2,h3,h4,h5,h6 {
font-weight: bold
}
.top-button:hover,a.new_post:hover,.article_actions a[href$='edit']:hover,.post_actions a[data-method='delete']:hover, div.auth a:hover {
/* color: #d3dd8a; */
color: black;
}
.post_actions {
border-bottom: 1px dashed #ddd;
margin-bottom: .7em;
padding-bottom: .7em;
font-size: .9em;
overflow: hidden;*zoom:1;
text-align: right
}
.post_actions a {
float: left;
color: #999999;
}
.post_actions a:hover img {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
opacity: 0.6
}
.post_actions img {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
opacity: 0.2;
position: relative;
top: 2px
}
.post_actions a[href$='edit'],.article_actions a[data-method='delete'] {
text-decoration: none;
float: none;
margin-left: .5em;
padding: 4px 12px 3px 8px
}
.post_actions a[data-method='delete'] {
right: 90px
}
.input,form input[type=text],form input[type=password],form textarea {
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
-ms-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
padding: .3em .4em;
border: 1px solid #ccc;
background-color: #f5f5f5;
color: #1f2d3e;
font-size: 1.3em
}
.input:focus,form input[type=text]:focus,form input[type=password]:focus,form textarea:focus {
outline: 0;
-moz-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
-webkit-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
-o-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
border-color: #81b1df;
background-color: #fff
}
form input[type=text], form input[type=password] {
margin: 0;
}
form p {
padding: 0;
margin-bottom: .6em
}
form label {
color: #6c7c9a;
font-size: .9em;
font-weight: bold;
line-height: 1.5em;
padding-bottom: .2em;
display: inline-block;
text-transform: uppercase
}
form textarea {
height: 12em;
font-size: 1.1em
}

div.home_nav {
	float:right;
	margin-top:-20px;
}

div.cancel {
	float:left;
	margin-left:5px;
}

.sbutton a {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.1em;
	font-weight:bold;
	padding: 0.3em 1em;
	background-color: #134e89;
	/* original color
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81a2c3), color-stop(10%, #4b749e), color-stop(50%, #2d4660), color-stop(50%, #283f55), color-stop(100%, #395878));
	background-image: -moz-linear-gradient(#81a2c3,#4b749e 10%,#2d4660 50%,#283f55 50%,#395878);
	background-image: linear-gradient(#81a2c3,#4b749e 10%,#2d4660 50%,#283f55 50%,#395878);*/
	/*ncsu color*/
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c38181), color-stop(10%, #8A0808), color-stop(50%, #602e2d), color-stop(50%, #552829), color-stop(100%, #783a39));
	background-image: -moz-linear-gradient(#c38181,#9e4c4b 10%,#602e2d 50%,#552829 50%,#783a39);
	background-image: linear-gradient(#c38181,#9e4c4b 10%,#602e2d 50%,#552829 50%,#783a39);
	border:solid 1px #192836;
	text-shadow: #030e19 0px 1px 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
	-o-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
	box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	-o-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-khtml-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 1.2em;
	color:white;
	text-decoration:none;
	float:left;
	margin-left: 10px;
	display:inline;
}
.sbutton a:hover,div.sbutton a:focus {
background-color: #11467c;
/*original color
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #769bbf), color-stop(10%, #466d94), color-stop(50%, #283f55), color-stop(50%, #23374b), color-stop(100%, #34516d));
background-image: -moz-linear-gradient(#769bbf,#466d94 10%,#283f55 50%,#23374b 50%,#34516d);
background-image: linear-gradient(#769bbf,#466d94 10%,#283f55 50%,#23374b 50%,#34516d);*/
/*ncsu color*/
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf7677), color-stop(10%, #944646), color-stop(50%, #552829), color-stop(50%, #4b2323), color-stop(100%, #6d3435));
background-image: -moz-linear-gradient(#bf7677,#944646 10%,#552829 50%,#4b2323 50%,#6d3435);
background-image: linear-gradient(#bf7677,#944646 10%,#552829 50%,#4b2323 50%,#6d3435);
border:solid 1px #15202c;
text-shadow: #02070c 0px 1px 1px
}
div.sbutton a:hover,div.sbutton a:hover:visited,div.sbutton a:focus,div.sbutton a:focus:visited {
color: #fff
}
.sbutton a:active {
background-color: #0f3f6e;
/*original color
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283f55), color-stop(30%, #2b445c), color-stop(50%, #253a4e), color-stop(50%, #203244), color-stop(100%, #355371));
background-image: -moz-linear-gradient(#283f55,#2b445c 30%,#253a4e 50%,#203244 50%,#355371);
background-image: linear-gradient(#283f55,#2b445c 30%,#253a4e 50%,#203244 50%,#355371);*/
/*ncsu color*/
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #552829), color-stop(30%, #5c2b2c), color-stop(50%, #4e2526), color-stop(50%, #442020), color-stop(100%, #713535));
background-image: -moz-linear-gradient(#552829,#5c2b2c 30%,#4e2526 50%,#442020 50%,#713535);
background-image: linear-gradient(#552829,#5c2b2c 30%,#4e2526 50%,#442020 50%,#713535);
border:solid 1px #101821;
text-shadow: #000 0px -1px -1px;
-moz-box-shadow: #192836 0 0.08em 0.2em 1px inset;
-webkit-box-shadow: #192836 0 0.08em 0.2em 1px inset;
-o-box-shadow: #192836 0 0.08em 0.2em 1px inset;
box-shadow: #192836 0 0.08em 0.2em 1px inset
}
.sbutton a:active,input[type=submit]:active:visited {
color: #fff
}	
input[type=submit] {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
font-size: 18px;
line-height: 1.2em;
padding: 0.3em 1em;
border-width: 1px;
border-color: #101821;
background-color: #134e89;
/*original color
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81a2c3), color-stop(10%, #4b749e), color-stop(50%, #2d4660), color-stop(50%, #283f55), color-stop(100%, #395878));
background-image: -moz-linear-gradient(#81a2c3,#4b749e 10%,#2d4660 50%,#283f55 50%,#395878);
background-image: linear-gradient(#81a2c3,#4b749e 10%,#2d4660 50%,#283f55 50%,#395878);*/
/* ncsu color */
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c38181), color-stop(10%, #8A0808), color-stop(50%, #602e2d), color-stop(50%, #552829), color-stop(100%, #783a39));
background-image: -moz-linear-gradient(#c38181,#9e4c4b 10%,#602e2d 50%,#552829 50%,#783a39);
background-image: linear-gradient(#c38181,#9e4c4b 10%,#602e2d 50%,#552829 50%,#783a39);
text-shadow: #030e19 0px 1px 1px;
-moz-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
-webkit-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
-o-box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
box-shadow: rgba(255, 255, 255, 0.306) 0 0 0.1em 1px inset;
-moz-background-clip: padding;
-webkit-background-clip: padding;
-o-background-clip: padding-box;
-ms-background-clip: padding-box;
-khtml-background-clip: padding-box;
background-clip: padding-box;
font-size: 1.1em;
diplay:inline;
margin-left: 5px;
}
input[type=submit],input[type=submit]:visited {
color: #fff
}
input[type=submit]:hover,input[type=submit]:focus {
background-color: #11467c;
/* original color
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #769bbf), color-stop(10%, #466d94), color-stop(50%, #283f55), color-stop(50%, #23374b), color-stop(100%, #34516d));
background-image: -moz-linear-gradient(#769bbf,#466d94 10%,#283f55 50%,#23374b 50%,#34516d);
background-image: linear-gradient(#769bbf,#466d94 10%,#283f55 50%,#23374b 50%,#34516d); */
/*ncsu color */
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf7677), color-stop(10%, #944646), color-stop(50%, #552829), color-stop(50%, #4b2323), color-stop(100%, #6d3435));
background-image: -moz-linear-gradient(#bf7677,#944646 10%,#552829 50%,#4b2323 50%,#6d3435);
background-image: linear-gradient(#bf7677,#944646 10%,#552829 50%,#4b2323 50%,#6d3435);
border-color: #15202c;
text-shadow: #02070c 0px 1px 1px
}
input[type=submit]:hover,input[type=submit]:hover:visited,input[type=submit]:focus,input[type=submit]:focus:visited {
color: #fff
}
input[type=submit]:active {
background-color: #0f3f6e;
/* original color
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #283f55), color-stop(30%, #2b445c), color-stop(50%, #253a4e), color-stop(50%, #203244), color-stop(100%, #355371));
background-image: -moz-linear-gradient(#283f55,#2b445c 30%,#253a4e 50%,#203244 50%,#355371);
background-image: linear-gradient(#283f55,#2b445c 30%,#253a4e 50%,#203244 50%,#355371); */
/*ncsu color*/
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #552829), color-stop(30%, #5c2b2c), color-stop(50%, #4e2526), color-stop(50%, #442020), color-stop(100%, #713535));
background-image: -moz-linear-gradient(#552829,#5c2b2c 30%,#4e2526 50%,#442020 50%,#713535);
background-image: linear-gradient(#552829,#5c2b2c 30%,#4e2526 50%,#442020 50%,#713535);
border-color: #101821;
text-shadow: #000 0px -1px -1px;
-moz-box-shadow: #192836 0 0.08em 0.2em 1px inset;
-webkit-box-shadow: #192836 0 0.08em 0.2em 1px inset;
-o-box-shadow: #192836 0 0.08em 0.2em 1px inset;
box-shadow: #192836 0 0.08em 0.2em 1px inset
}
input[type=submit]:active,input[type=submit]:active:visited {
color: #fff
}
.signin img {
  width: 60px;
  height: 50px;
  float:left;
  margin-left: 10px;
  display:inline;
}
input[type=checkbox] { 
	height: 30px; 
	line-height: 30px;
	font-size: 1.1em;	
}
.login_content {
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
	-o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-o-border-bottom-left-radius: 6px;
	-ms-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-o-border-bottom-right-radius: 6px;
	-ms-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0.6)));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
	border: 3px solid rgba(255, 255, 255, 0.5);
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	-o-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-khtml-background-clip: padding-box;
	background-clip: padding-box;
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px;
	left: 0;
	padding:1em;
	margin:1em;
	width: 95%;
	text-align: center;
	font-size:18pt;
	color:#fff;
}

#post_comment {
	margin-top:40px;
}
img:not(.avatarimage):hover {
	opacity:.7;
	cursor:pointer;
}
div.field_with_errors label {
color: red;
font-weight: bold
}
div.field_with_errors input {
border: 3px solid red
}
#edbuttons{
	font-size: 12px;
	line-height: 1.5em;
	margin-left:5px;
	margin-top:10px;
	padding-bottom:30px;
	padding-left:30px;
}
.thumbs {
	margin-top:10px;
	margin-left:30px;
	font-size:11pt;
}
tr.odd td, tr.odd td{
background: #FAFAFA;
}
.avatar{
	float:left;
	width:120px;
	margin-top:20px;
	margin-right:20px;
	text-align:center;
}
.consultinfo{
	float:left;
	width:700px;
	padding-top:15px;
	margin-top:15px;
}
.pconsultinfo{
	float:left;
	width:720px;
	padding-top:15px;
	margin-top:15px;
}
.allbuttons{
	float:left;
	width:150px;
}
.aname{
	margin-top:5px;
	width:100px;
	font-size:14pt;
	font-weight:bold;
	margin-left:5px;
}
.pdate{
	margin-top:5px;
	width:100px;
	font-size:12pt;
	font-weight:bold;
	margin-left:5px;
}
.reputation {
	margin-left:15px;
	font-size:11pt;
}

#rep {
	font-size:11pt;
}

.thread_title{
	font-size:28pt;
}
.lastpost{
	font-size:12pt;
}
